body
{
    background-color: #404040;
    font-family: 'Ubuntu', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 5px;
}
#menu
{
    background-color: #303030;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 10px;
}

#sidebar
{
    
}
#content
{
    
}
#footer
{
    
}
.option
{
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px solid #444444;
    opacity: 0.8;
}

.option:hover
{
    background-color: #000000;
    cursor: pointer;
}

#topbar
{
    background-color: #128870;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}

#topbarLEFT
{
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px solid #cccccc;
}

#topbarRIGHT
{
    float: left;
    padding: 20px;
    width: 760px;
}