body
{
    background-color: #404040;
    font-family: 'Ubuntu', sans-serif;
}

#container
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#logo
{
    color: white;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 5px;
}
#menu
{
    background-color: #303030;
    margin-top: 20px;
    color: #FFFFFF;
    padding: 10px;
}

#sidebar
{
    float: left;
    width: 148px;
    min-height: 872px;
    padding: 20px;
    background-color: lightgray;
    text-align: center;
    font-size: 18px;
    border-right: 2px solid #666666;
}
#content
{
    float: left;
    padding: 40px;
    width: 730px;
    background-color: #dedede;
    text-align: justify;
    min-height: 620px;
}
#footer
{
    clear: both;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}
.option
{
    float: left;
    min-width: 50px;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px solid #444444;
    opacity: 0.8;
}

.option:hover
{
    background-color: #000000;
    cursor: pointer;
}

.optionL
{
    font-size: 18px;
    height: 25px;
    padding: 10px;
    border-bottom: 2px solid #444444;
}

.optionL:hover
{
    background-color: #F36742;
    color: white;
    cursor: pointer;
}

#topbar
{
    background-color: #128870;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 170px;
}

#topbarLEFT
{
    float: left;
    padding: 20px;
    width: 138px;
    text-align: center;
    border-right: 2px solid #cccccc;
}

#topbarRIGHT
{
    float: left;
    padding: 20px;
    width: 760px;
    font-size: 16px;
    text-align: justify;
}

.bigtitle
{
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 2px;
    
}
.dotted
{
    height: 5px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #444444;
}